@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: rgb(48, 13, 57);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Fetch-Doggie {
  align-items: left;
  height: 250px;
  width: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
